<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br>
    <%= f.date_select :birthdate, start_year: 1945, end_year: DateTime.now.year %>
  </div>
  <div class="field">
    <%= f.label :favorite_color_id, "Choose your favorite color" %><br>
    <%= f.select :favorite_color_id, Color.all.collect { |c| [ c.name, c.id ] }, include_blank: false %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.label :gender, "Female"  %>
    <%= f.radio_button :gender, 'F', checked: true %>
    <%= f.label :gender, "Male" %>
    <%= f.radio_button :gender, "M"  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
